<%# locals: (appointments:) -%>
<h2>You have <span id="appointment_count"><%= appointments.length %></span> <%= appointments.length == 1 ? "appointment" : "appointments" %></h2>
<div id="appointments">
  <%= render partial: 'appointments/appointment', collection: appointments %>
</div>
